<div class="container">
    <h2>Employee List</h2> 
    <button (click) = "showDialog()" class="btn btn-info">ADD EMPLOYEE</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let employee of employees">
                <td> {{ employee.id }} </td>
                <td> {{ employee.email }} </td>
                <td>
                    <button (click) = "test()" class="btn btn-info">Update</button>
                    <button (click) = "test()" class="btn btn-danger ml-2">Delete</button>
                    <button (click) = "test()" class="btn btn-info ml-2">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p-dialog header="New employee" [(visible)]="display" [modal]="true" [draggable]="false" [resizable]="false">
    <form #newEmployeeForm="ngForm" (ngSubmit)="onSubmit(newEmployeeForm.value)">

        <div class="form-group input-group">
            <input type="text" class="form-control" id="email" [(ngModel)]="employee.email" name="email" required/>

            <div class="input-group-prepend">
                <span class="input-group-text">@washapp.com </span>
            </div>
        </div>
        
        <p-footer>
            <button type="submit" pButton icon="pi pi-check" label="Submit" [disabled]="!newEmployeeForm.valid"></button>
        </p-footer>
    </form>
</p-dialog>